<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Automation Suite">
  <test name="Automation_Test_Suite">
      <classes>
      <class name="com.tests.SauceDemoUI_Test"/>
      </classes>
  </test> <!-- Test --> 
</suite> <!-- Suite -->